{% extends 'base.html.twig' %}
{% import 'macros/sort.html.twig' as sorts %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}



<div class="container">
        <div class="row">
                <h1>Liste des produits</h1>
                <p><a href={{ path('products_add') }} class="btn btn-primary bt-sm">Ajouter</a></p>
                <table class="table table-succes table-striped">
                        <thead>
                                <tr>
                                        {{ sorts.sort_link('products_index', 'id', 'ID') }}
                                        {{ sorts.sort_link('products_index', 'name', 'Nom du produit') }}
                                        {{ sorts.sort_link('products_index', 'package_reference', 'Conditionnement') }}
                                        {{ sorts.sort_link('products_index', 'created_at', 'Date de création') }}
                                        <th scope="col">Action</th>

                                </tr>

                        </thead>
                        {% for product in products %}
                        <tr>
                                <td>{{ product.id }}</td>
                                <td><a href={{ path('products_detail', { id:product.id } )}} >{{ product.name }}</a></td>
                                <td>{{ product.package_reference }}</td>
                                <td>{{ product.created_at ? product.created_at|date('Y-m-d H:i:s', 'Europe/Paris') : 'N/A' }}</td>
                                <td><a href={{ path('products_edit', { id:product.id } )}} class="btn btn-primary bt-sm">Modifier</a></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
</div>

<style>
    a.sort-link {
        color: inherit;
        text-decoration: none;
    }
    a.sort-link.selected {
        color: aquamarine;
    }
</style>


{% endblock %}