{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}


<div class="container">
        <div class="row">
                <h1>Liste des produits</h1>
                <p><a href={{ path('products_add') }} class="btn btn-primary bt-sm">Ajouter</a></p>
                <table class="table table-succes table-striped">
                        <thead>
                                <tr>
                                        <th>Nom</a></th>
                                        <th>Date de création</a></th>
                                        <th>Référence du package</a></th>
                                        <th>ID</a></th>
                                        <th scope="col">Action</th>

                                </tr>


                        </thead>
                        {% for product in products %}
                        <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.package_reference }}</td>
                                <td>{{ product.created_at ? product.created_at|date('Y-m-d H:i:s', 'Europe/Paris') : 'N/A' }}</td>
                                <td><a href={{ path('products_edit', { id:product.id } )}} class="btn btn-primary bt-sm">Modifier</a></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
</div>




{% endblock %}