{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

<main class="container">

    <div class="col mb-4">


        <h5 class="mb-2">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">ID: {{ product.id }}</h6>
        <p class="card-text">
            Date de Création: {{ product.getCreatedAt ? product.getCreatedAt|date('Y-m-d H:i:s', 'Europe/Paris') : 'N/A' }} <br>
            Référence du Paquet: {{ product.getIdPackages().getReference() }} <br>
        </p>

    </div>
    <div>

        <h6>Commandes</h6>
        {% for order in product.getOrders() %}
        {% if order.getDeliveredAt() is null %}
        <p class="px-3">Commande: {{ order.getId() }} créée le {{ order.getDateOrder|date('Y-m-d H:i:s', 'Europe/Paris') }}</p>
        {% endif %}
        {% endfor %}

    </div>
    <a href={{ path('products_index')}} class="btn btn-primary bt-sm">Retour</a>
</main>

{% endblock %}